# TD MLops

In [1]:
import pandas as pd
import numpy as np

In [6]:
w1 = pd.read_csv("restaurant_1_week_002.csv")
w2 = pd.read_csv("restaurant_1_week_169.csv")
w = pd.concat([w1, w2]) 
w

,Order Number,Order Date,Item Name,Quantity,Product Price,Total products
0,1388,2015-01-10 20:12:00,Onion Chutney,1,0.50,6
1,1388,2015-01-10 20:12:00,Mint Sauce,1,0.50,6
2,1388,2015-01-10 20:12:00,Lime Pickle,1,0.50,6
3,1388,2015-01-10 20:12:00,Paratha,1,2.95,6
4,1387,2015-01-10 16:55:00,Onion Bhaji,1,3.95,1
...,...,...,...,...,...,...
411,9031,2018-03-30 22:12:00,King Prawn Shaslick,1,12.95,5
412,9022,2018-03-30 18:15:00,Bhuna,1,12.95,5
413,9020,2018-03-30 17:41:00,Lamb Shashlick Curry,1,12.95,9
414,9008,2018-03-29 18:32:00,Tandoori King Prawn Masala,1,12.95,6
415,8996,2018-03-28 19:25:00,King Prawn Hari Mirch,1,12.95,11

## Valeurs manquantes

In [13]:
# Compter le nombre de "?" par colonne
count_question_marks = (w1 == '?').sum()

print("Nombre de '?' par colonne (w1) :")
print(count_question_marks)
print("\n-----------------------------------\n")


count_question_marks = (w2 == '?').sum()

print("Nombre de '?' par colonne (w2) :")
print(count_question_marks)

Nombre de '?' par colonne (w1) :
Order Number      0
Order Date        0
Item Name         0
Quantity          0
Product Price     0
Total products    0
dtype: int64

-----------------------------------

Nombre de '?' par colonne (w2) :
Order Number      0
Order Date        0
Item Name         0
Quantity          0
Product Price     0
Total products    0
dtype: int64

In [15]:
# Compter le nombre de valeur manquante par colonne
print(w1.isnull().sum())
print("\n-----------------------------------\n")
print(w2.isnull().sum())

Order Number      0
Order Date        0
Item Name         0
Quantity          0
Product Price     0
Total products    0
dtype: int64

-----------------------------------

Order Number      0
Order Date        0
Item Name         0
Quantity          0
Product Price     0
Total products    0
dtype: int64

## Modalités de chaque variable

In [8]:
for col in w1.columns:
    print(f"Modalités distinctes pour la colonne '{col}': {w1[col].unique()}")

Modalités distinctes pour la colonne 'Order Number': [1388 1387 1386  630 1385 1382 1376 1375]
Modalités distinctes pour la colonne 'Order Date': ['2015-01-10 20:12:00' '2015-01-10 16:55:00' '2015-01-10 16:28:00'
 '2015-01-09 14:42:00' '2015-01-10 15:19:00' '2015-01-10 10:49:00'
 '2015-01-10 10:02:00' '2015-01-10 09:54:00']
Modalités distinctes pour la colonne 'Item Name': ['Onion Chutney' 'Mint Sauce' 'Lime Pickle' 'Paratha' 'Onion Bhaji'
 'Tandoori Chicken (1/4)' 'Vegetable Samosa' 'Tandoori Fish' 'Sheek Kehab'
 'Vegetable Karahi' 'Vegetable Balti' 'Chicken Sylhet']
Modalités distinctes pour la colonne 'Quantity': [1 2]
Modalités distinctes pour la colonne 'Product Price': [0.5  2.95 3.95 4.95 5.95 8.95 9.95]
Modalités distinctes pour la colonne 'Total products': [6 1 3 7 2]

In [9]:
for col in w2.columns:
    print(f"Modalités distinctes pour la colonne '{col}': {w2[col].unique()}")

Modalités distinctes pour la colonne 'Order Number': [9039 9034 9031 9030 9028 9023 9020 9019 9012 9006 9002 9001 8996 8982
 8978 8977 8053 8047 9033 9024 9017 9005 8997 8049 9008 8983 8980 8976
 9044 9043 9042 9041 9038 9037 9035 9027 9026 9022 9014 9013 9007 8998
 8992 8991 8981 8052 8050 9051 9050 9048 9046 9045 9040 9036 9025 9021
 9018 9016 9015 9011 9010 9009 9004 8999 8990 8989 8988 8985 8979 8051
 8048 9049 9032 9000 8986 8995 8994 8993]
Modalités distinctes pour la colonne 'Order Date': ['2018-03-31 18:59:00' '2018-03-31 18:02:00' '2018-03-30 22:12:00'
 '2018-03-30 21:36:00' '2018-03-30 20:02:00' '2018-03-30 18:21:00'
 '2018-03-30 17:41:00' '2018-03-30 17:30:00' '2018-03-29 19:47:00'
 '2018-03-29 18:17:00' '2018-03-28 21:58:00' '2018-03-28 21:53:00'
 '2018-03-28 19:25:00' '2018-03-26 20:08:00' '2018-03-26 19:30:00'
 '2018-03-26 19:22:00' '2018-04-01 21:04:00' '2018-04-01 18:02:00'
 '2018-03-31 17:02:00' '2018-03-30 18:31:00' '2018-03-29 22:06:00'
 '2018-03-29 17:53:00' '2018-03-28 19:38:00' '2018-04-01 18:24:00'
 '2018-03-29 18:32:00' '2018-03-26 21:11:00' '2018-03-26 19:49:00'
 '2018-03-26 18:41:00' '2018-03-31 19:39:00' '2018-03-31 19:37:00'
 '2018-03-31 19:13:00' '2018-03-31 19:04:00' '2018-03-31 18:43:00'
 '2018-03-31 18:19:00' '2018-03-31 18:03:00' '2018-03-30 19:38:00'
 '2018-03-30 19:14:00' '2018-03-30 18:15:00' '2018-03-29 20:07:00'
 '2018-03-29 19:58:00' '2018-03-29 18:24:00' '2018-03-28 20:00:00'
 '2018-03-28 18:09:00' '2018-03-28 17:39:00' '2018-03-26 19:50:00'
 '2018-04-01 20:12:00' '2018-04-01 18:51:00' '2018-03-31 21:55:00'
 '2018-03-31 21:48:00' '2018-03-31 20:45:00' '2018-03-31 20:20:00'
 '2018-03-31 19:58:00' '2018-03-31 19:00:00' '2018-03-31 18:13:00'
 '2018-03-30 18:32:00' '2018-03-30 18:13:00' '2018-03-30 13:26:00'
 '2018-03-29 21:25:00' '2018-03-29 21:20:00' '2018-03-29 19:41:00'
 '2018-03-29 19:18:00' '2018-03-29 18:48:00' '2018-03-29 16:23:00'
 '2018-03-28 20:25:00' '2018-03-28 16:49:00' '2018-03-28 16:38:00'
 '2018-03-27 21:41:00' '2018-03-27 18:49:00' '2018-03-26 19:42:00'
 '2018-04-01 19:17:00' '2018-04-01 18:23:00' '2018-03-31 21:01:00'
 '2018-03-31 16:43:00' '2018-03-28 20:34:00' '2018-03-27 19:51:00'
 '2018-03-28 19:21:00' '2018-03-28 19:18:00' '2018-03-28 19:09:00']
Modalités distinctes pour la colonne 'Item Name': ['Mango Chutney' 'Mint Sauce' 'Onion Chutney' 'Lime Pickle' 'Red Sauce'
 'Plain Papadum' 'Spicy Papadum' 'Chapati' 'Plain Naan' 'Tandoori Roti'
 'Keema Naan' 'Garlic Naan' 'Pilau Rice' 'Paratha' 'Plain Rice'
 'Peshwari Naan' 'Coke 1.5 ltr' 'Kulcha Naan' 'Diet Coke 1.5 ltr' 'Raitha'
 'Onion Naan' 'Vegetable Rice' 'Mushroom Rice' 'Onion Bhajee' 'Onion Rice'
 'Meat Samosa' 'Masala Sauce' 'Stuffed Paratha' 'Special Fried Rice'
 'Egg Rice' 'French Fries' 'Curry Sauce' 'Lemon Rice' 'Garlic Rice'
 'Chicken Chaat' 'Sheek Kebab' 'Chicken Tikka' 'Prawn Puree' 'Lamb Tikka'
 'Aloo Gobi' 'Mushroom Bhajee' 'Saag Aloo' 'Bombay Aloo' 'Tandoori Fish'
 'Bhindi Bhajee' 'Mixed Starter' 'Muttar Paneer' 'Tarka Dall'
 'Mixed Vegetable Curry' 'Chicken Pakora' 'King Prawn Puree'
 'King Prawn Butterfly' 'Vegetable Mysore' 'Saag Paneer'
 'Cauliflower Bhajee' 'COBRA (660ML)' 'Saag Bhajee' 'Madras' 'Vindaloo'
 'Curry' 'Chicken Karahi' 'Saag' 'Korma' 'Rogon' 'Tandoori Chicken Masala'
 'Chicken Tikka (Main)' 'Tandoori Chicken (Main)'
 'Chicken Tikka Chilli Masala' 'Chicken Tikka Masala' 'Dhansak' 'Bhuna'
 'Chicken Tikka Jalfrezi' 'Dupiaza' 'Methi' 'Lamb Tikka Masala'
 'Lamb Tikka Chilli Masala' 'Lamb Tikka Pasanda' 'Chicken Tikka Garlic'
 'Lamb Karahi' 'Lamb Tikka Jalfrezi' 'Butter Chicken' 'Lamb Biryani'
 'Prawn Karahi' 'Chicken Sylhet' 'Chicken Chilli Garlic'
 'Chicken Tikka Sizzler' 'Chicken Biryani' 'Chicken Balti'
 'Chicken Shashlick' 'Paneer Tikka Sizzler' 'Chicken Roshni'
 'Vegetable Biryani' 'Chicken Achar' 'Paneer Tikka Karahi'
 'Chicken Tikka Balti' 'Chicken Tikka Biryani' 'Persian Lamb Biryani'
 'Persian Chicken Biryani' 'Lamb Tikka Balti' 'Tandoori Mixed Grill'
 'Chicken Shashlick Curry' 'King Prawn Shaslick' 'Lamb Shashlick Curry'
 'Tandoori King Prawn Masala' 'King Prawn Hari Mirch']
Modalités distinctes pour la colonne 'Quantity': [1 2 3 4 6 8]
Modalités distinctes pour la colonne 'Product Price': [ 0.5   0.8   1.95  2.6   2.95  3.95  4.95  5.95  7.95  8.95  9.95 10.95
 11.95 12.95]
Modalités distinctes pour la colonne 'Total products': [ 7  5 11  9  8  6  4  2 12  3]